@mixin button($bg-color: #198c36, $color: #fff, $padding: 0) {
  background-color: $bg-color;
  color: $color;
  padding: $padding;
  border: none;
  cursor: pointer;
  &:hover{
    background-color: lighten($bg-color, 10%);
  }
  &:active{
    background-color: darken($bg-color, 10%);
  }

}
@mixin h2(){
  font-size: 48px;
  font-weight: 600;
  line-height: 54px;
}
@mixin p(){
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
